.header {

    background: url(divulgacao_barbearia-1024x683.jpg) no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.header .main-menu {

    text-align: center;
}

.header .main-menu .menu-item {

    display: inline-block;
    margin: 0 2px 32px 0 ;
}

.header .main-menu .menu-item a {

    color: white;
    padding: 16px;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 10%;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.8s;
}

.header .main-menu .menu-item a:hover {

    background-color: rgba(188, 134, 18, 0.38);
    font-size: 18px;
}

