/* ------------Author--------------------
Site:       Alfa Barber
CSS author: Brayan Linhar
Updated:    01/01/2023
Updated by: Brayan Linhar
-------------------------------- */

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
    line-height: 0;
}

@media (min-width: 640px) {

    .col-3,
    .col-9 {
        float: left;
    }

    .col-3 {
        width: 25%;
    }

    .col-9 {
        width: 75%;
    }
}

nav#mainnav {
    background: #202020ad;
    width: 100%;
    height: 96px;
    margin-bottom: 60px;
    margin-top:0px;
    float: left;
    position:relative;
}

nav#mainnav h1 {
    font-size: 32px;
    margin: 4px auto -6px 8px;
    box-shadow: -2px 0px 16px #ffe100;
}

ul.menu a {
    text-decoration:none; /*Quero remover o sublinhado da linha*/
    color: #fff; /*cor do link*/
    display:block; /*faz com que o elemento HTML seja renderizado como bloco, aqui acontece a magica*/
}

ul.menu > li {
    display: inline;
    float:left; /*irão flutuar a esquerda*/
    position:relative; /*A posição relativa ao pai*/
}

/*Configurar os links do menu principal*/
ul.menu > li > a {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
}

/*Configurar o efeito ao clicar o mouse no link*/
ul.menu > li > a:active{
   top: 3px;
   left: 2px;
   box-shadow: 0px -2px 0px #829900;
   font-size: 14px;
   width: 120px;
   text-align: center;
}

/*Configurar o fundo do menu principal quando o mause passar em cima do meu link*/
ul.menu > li > a:hover{
   background: #fdf21e28;
   border-radius: 4%;
   border-style:groove;
}

/*Se tivesse dentro das suas li(s) outra ul:*/

/*Mostrar o submenu no evento do mouse hover*/
ul.menu > li:hover > ul.submenu{
   display: block;
}